<div class="genbotscontainer">
    <img src="./assets/images/Genbots1.png" width="800" alt="GenBots VR">
    <img src="./assets/images/genbots2.png" width="800" alt="GenBots VR">
    <img src="./assets/images/genbots3.png" width="800" alt="GenBots VR">

</div>