<section id="splashTrash">
    <div class="container">
        <div class="row">
            <div class="col s12 center">
                <h6 class="white-text">WARNING: CONTAINS STROBING.</h6>
                <h5>
                    <a href="https://www.trashtrashvisuals.com">
                        <i class="material-icons tooltipped center" data-position="bottom" data-tooltip="TRASHTRASH VISUALS COMING SOON" id="trashtrash">deletedelete</i>
                    </a>
                </h5>
            </div>
        </div>
    </div>

</section>